body {
  font-family: "Poppins", sans-serif;
  min-width: 430px;
  overflow-x: hidden;
  box-sizing: border-box;
}
section {
  overflow: hidden;
}
a {
  text-decoration: none;
}
input:focus-visible{
  outline: none;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
}
nav {
  height: 64px;
}
header .container {
  padding-left: 25px;
  padding-right: 25px;
}
nav a {
  font-size: 11px;
  color: #004052;
}
.title-lg {
  font-size: 41px;
  font-weight: 700;
  color: #004052;
}
.title-md {
  font-size: 33px;
  font-weight: 700;
  color: #004052;
}
.title {
  font-size: 29px;
  font-weight: 700;
  color: #004052;
}
.text-lg{
  font-size: 17px;
  font-weight: normal;
  color: #172B4D;
}
.text {
  font-size: 15px;
  color: #004052;
  font-weight: 300;
}
.text-md {
  font-size: 12px;
  color: #004052;
  font-weight: 300;
}
.text-sm {
  font-size: 10px;
  color: #ffffff;
  font-weight: 300;
}

.subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #004052;
}
.subtitle-sm {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}
.violet-text {
  color: #c294ff;
}
.pink-text {
  color: #fe4773;
}
.light-pink-text {
  color: #ea5675;
}
.text-blue {
  color: #1445e8;
}
.text-yellow {
  color: #f5c248;
}
.text-darkblue {
  color: #004052;
}
.submitbtn{
  padding: 10px 26px;
  background: #1445E8;
  color: #fff;
  border: 1px solid #1445E8;
  border-radius: 30px;
  font-size: 12px;
  font-weight: normal;
}
.orange-btn,
.violet-btn,
.grey-btn,
.pink-btn {
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #2c28281c;
  border: 2px solid black;
  min-width: 210px;
  padding: 13px 15px;
  transition: background 0.4s;
}
.grey-btn {
  background: #e2e0dd;
  border-color: #e2e0dd;
}
.grey-btn:hover {
  background: transparent;
  color: #e2e0dd;
}
.pink-btn {
  background: #fe4773;
  border-color: #fe4773;
}
.pink-btn:hover {
  background: transparent;
  color: #fe4773;
}
.orange-btn {
  background: #fe6e4b;
  border-color: #fe6e4b;
}
.orange-btn:hover {
  background: transparent;
  color: #fe6e4b;
}
.violet-btn {
  background: #c294ff;
  border-color: #c294ff;
}
.violet-btn:hover {
  background: transparent;
  color: #c294ff;
}
.brown-bg {
  background-color: #690030;
}
.phonebox input {
  border: none;
  width: 230px;
  letter-spacing: 2px;
}
.phonebox input:focus-visible {
  outline: none;
}
.iti__arrow {
  margin-left: 3px !important;
}
.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 11px !important;
}
.progress-bar {
  max-width: 400px;
  width: 100%;
  border-radius: 40px;
  background-color: #e2e0dd;
}
.progress {
  border-radius: 40px;
  background-color: #1445e8;
}
.bg-grey {
  background: #f7f7f7;
}
.bg-blue {
  background: #183f50;
}
.bg-grey {
  background: #f7f7f7;
}
@media screen and (min-width: 676px) {
  .subtitle {
    font-style: 28px;
  }
}
@media screen and (min-width: 991px) {
  .title {
    font-size: 36px;
  }
  .text {
    font-size: 18px;
  }
  .subtitle-sm {
    font-style: 23px;
  }
}

.hero-section .sec-box::before {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/woman.png);
  background-repeat: no-repeat;
  max-width: 420px;
  background-size: contain;
  transform: translate(-30%, 25%);
  background-position: right;
  z-index: -1;
}
.hero-section .sec-box::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/man.png);
  background-repeat: no-repeat;
  max-width: 420px;
  background-size: contain;
  transform: translate(20%, 31%);
  background-position: right;
  z-index: -1;
}

/* job hire page */
.nurses-hero-sec img {
  width: 350px;
}
.nurses-hero-sec .img {
  width: fit-content;
}
.nurses-hero-sec .img::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/job-hire-bg1.png);
  background-repeat: no-repeat;
  max-width: 300px;
  background-size: contain;
  transform: translate(28%, 29%);
  background-position: right;
  z-index: -1;
}
.nurses-hero-sec .img::before {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/job-hire-bg2.png);
  background-repeat: no-repeat;
  max-width: 280px;
  background-size: contain;
  transform: translate(-62%, 0%);
  background-position: right;
  z-index: -1;
}

@media screen and (min-width: 767px) {
  .nurses-hero-sec img {
    width: 700px;
  }
  .nurses-hero-sec .img::before {
    max-width: 650px;

    transform: translate(-67%, -9%);
  }
  .nurses-hero-sec .img::after {
    max-width: 700px;

    transform: translate(35%, 4%);
  }
  .job-box {
    max-width: 100% !important;
  }
}

/* icon boxes */
.icon-box-sec {
  border-radius: 20px 20px 0px 0px;
}
.icon-box {
  max-width: 220px;
  padding-left: 10px;
}
.icon-box img {
  height: 214px;
}
.process-sec .icon-box img {
  height: 150px;
}
@media screen and (min-width: 767px) {
  .icon-box {
    max-width: 320px;
    padding: 0;
  }
}
/* job boxes  */
.job-box {
  max-width: 230px;
  border-top: 3px solid #172b4d3b;
}
.job-box:last-child {
  border-bottom: 1px solid #172b4d3b;
}

@media screen and (min-width: 767px) {
  .job-box {
    border-top: 1.5px solid #172b4d3b;
  }
  .job-box:first-child {
    border-top: 0;
  }
}

/* masterclass video section  */
.masterclass-video-sec {
  overflow: visible;
}

 /* registration-hire  */
.form-box .bluelogo{
max-width: 105px;
}
.form-box {
  border: .5px solid #E2E0DD;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 5px #2c28281f);
}
.form-box .inputbox{
  margin-bottom: 20px;
}
.form-box .inputbox img{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 15px;
}
.form-box .inputbox input{
  padding: 12px 12px 12px 40px ;
  border: .5px solid #e2e0ddcc;
  border-radius: 5px;
  font-size: 10px;
  color: #172B4D;
}

/* custon checkbox  */
/* Hide the default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }
 
 .checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
 }
 
 /* Create a custom checkbox */
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background: #fff;
  border: .5px solid #E2E0DD;
border-radius: 6px;
 }
 
 /* When the checkbox is checked, add a blue background */
 .checkbox input:checked ~ .checkmark {
  background-image: linear-gradient(#255CD2,#1D52C1)
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 
 /* Show the checkmark when checked */
 .checkbox input:checked ~ .checkmark:after {
  display: block;
 }
 
 /* Style the checkmark/indicator */
 .checkbox .checkmark:after {
  left: 0.3em;
    top: 0.1em;
    width: 0.34em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
 }
.inputlabel{
  font-size: 9px;
  margin-left: 11px;
}
.inputlabel a{
  color: #11CDEF;
}

/* sidebar  */
.sidebar{
  max-width: 225px;
  background: #EDEDED;
  transition: .2s ease-in;
}
.sidebarhide{
  max-width: 0;
    overflow: hidden;
    padding: 0 !important;
}
.profile-edit .edit{
right: 2px;
top: 6px;
cursor: pointer;
}
.sidebar-nav{
  list-style: none;
  width: 100%;
}
.sidebar-nav li{
  width: 100%;
  border-radius: 5px;
  font-size: 9px;
  color: #172B4D;
  cursor: pointer;
}
.sidebar-nav li:hover{
  background: #E2E2E2;
}
.sidebar-nav li.active{
  background: #E2E2E2;
}
/* sidebar content side  */
.content-side-nav .searchbox input{
border-radius: 25px;
border: 1px solid #E2E0DD;
padding:9px 12px 9px 30px;
font-size: 9px;
color: #172B4D;
}
.content-side-nav .searchbox img{
  left: 11px;
  top:50%;
  transform: translateY(-50%);
}
.jobbox-div{
  display: flex;
  overflow-x: auto;
  width: 100%;
  gap: 28px;
}
.jobbox{
  max-width: 360px;
  width: 100%;
  border: .5px solid #E2E0DD;
  border-radius: 10px;
}

.job-input {
  border: 1px solid #E2E0DD;
  border-radius: 5px;
}


.radio-wrapper {
  margin-bottom: 12px;
  width: 50%;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button:hover {
  transform: translateY(-2px);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: .5px solid #E2E0DD;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #172B4D;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 10px;
  font-weight: 400;
}



/* footer  */
footer .footer-top {
  border-bottom: 1px solid #fe47724b;
}
footer .footer-main ul {
  list-style: none;
  padding-left: 0;
}
footer .footer-main ul li {
  font-size: 9px;
}
